*,*::before,*::after{
    box-sizing: border-box;
    //outline: auto;
}

body{
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}

a:not(.logo){
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition:opacity 0.5s;
}

a:hover:not(.logo){
    cursor: pointer;
    opacity:0.7s;
}

button:hover{
    cursor: pointer;
    opacity: 0.5s;
}

