<header class="header">
    <div class="container header-wrapper px-sm-0">
        <a href="./index.html" class="logo"><img src="../assets/images/week3-4/logo-white.png" alt="logo"></a>
        <ul class="nav ">
            <li class="nav-item ">系列鏡框<a href="#"></a></li>
            <li class="nav-item ">門市據點<a href="#"></a></li>
            <li class="nav-item ">部落格<a href="#"></a></li>
            <li class="nav-item ">常見問題<a href="#"></a></li>
        </ul> 
    </div>
</header>