<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container banner-wrapper">
          <ul>
              <li class="banner-text">
                  <p class="banner-title">Promise-Desert 2020 早春系列</p>
                  <p class="banner-subtitle">看得清，才能看得遠</p>
                  <a href="#"><span>立即購買</span></a>
              </li>
          </ul>
      </div>
    </div>
    <div class="feature">
      <div class="container">
      <h2 class="feature-title">用專業的心，做專業的事</h2>
      <ul class="feature-list">
        <li class="feature-card">
          <img class="feature-img" src="../assets/images/week3-4/home-section2-1.png" alt="money">
          <h3 class="feature-subtitle">單一價格</h3>
          <p class="feature-text">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
        </li>
        <li class="feature-card">
          <img class="feature-img" src="../assets/images/week3-4/home-section2-2.png" alt="time">
          <h3 class="feature-subtitle">20 分鐘即可取件</h3>
          <p class="feature-text">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
        </li>
        <li class="feature-card">
          <img class="feature-img" src="../assets/images/week3-4/home-section2-3.png" alt="heart">
          <h3 class="feature-subtitle">安心售後服務</h3>
          <p class="feature-text">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
        </li>
        <li class="feature-card">
          <img class="feature-img" src="../assets/images/week3-4/home-sectioin2-4.png" alt="glasses">
          <h3 class="feature-subtitle">關於鏡片</h3>
          <p class="feature-text">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
        </li>
      </ul>
    </div>
    </div>
    <div class="classical">
      <div class="container">
      <h2 class="classical-title">經典系列鏡框</h2>
      <ul class="classical-list">
        <li class="classical-card">
          <img class="classical-img" src="../assets/images/week3-4/home-section3-1.png" alt="OPTICAL">
          <p class="classical-text">OPTICAL</p>
        </li>
        <li  class="classical-card">
          <img  class="classical-img" src="../assets/images/week3-4/home-section3-2.png" alt="SUNGLASSES">
          <p class="classical-text">SUNGLASSES</p>
        </li>
        <li  class="classical-card">
          <img  class="classical-img" src="../assets/images/week3-4/home-section3-3.png" alt="FUNCTIONAL">
          <p class="classical-text">FUNCTIONAL</p>
        </li>
      </ul>
    </div>
    </div>
    <div class="cobrand">
      <div class="container">
        <h2 class="cobrand-title">聯名設計鏡框</h2>
        <ul class="cobrand-list">
          <li class="cobrand-card">
            <picture>
              <source srcset="../assets/images/week3-4/home-section4-1-sm.png" media="(max-width: 576px)" >
              <img src="../assets/images/week3-4/home-section4-1.png" alt="DOUBLE A+">
            </picture>
            <p class="cobrand-text">DOUBLE A+</p>
          </li>
          <li>
            <source srcset="../assets/images/week3-4/home-section4-2-sm.png" media="(max-width: 576px)" >              <img src="../assets/images/week3-4/home-section4-2.png" alt="YOUTH">
            <p class="cobrand-text">YOUTH</p>
          </li>
        </ul>
      </div>

    </div>
    <div class="recommand">
      <div class="container">
        <h2 class="recommand-title">顧客推薦</h2>
        <ul class="recommand-list">
          <li class=recommand-card>
            <img class="recommand-img" src="../assets/images/week3-4/home-section5-1.png" alt="Jessy">
            <div class="recommand-card-body">
              <div class="recommand-card-desc">
            <h4 class="recommand-subtitle">Jessy</h4>
            <p class="recommand-text">眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <time class="recommand-time">2021/06/20</time>
            </div>
          </li>
          <li class="recommand-card">
            <img class="recommand-img" src="../assets/images/week3-4/home-section5-2.png" alt="凱倫">
            <div class="recommand-card-body">
              <div class="recommand-card-desc">
            <h4 class="recommand-subtitle">凱倫</h4>
            <p class="recommand-text">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            </div>
            <time class="recommand-time">2021/04/18</time>
            </div>
          </li>
          <li class="recommand-card">
            <img class="recommand-img" src="../assets/images/week3-4/home-section5-3.png" alt="悠悠">
            <div class="recommand-card-body">
              <div class="recommand-card-desc">
            <h4 class="recommand-subtitle">悠悠</h4>
            <p class="recommand-text">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            </div>
            <time class="recommand-time">2020/12/25</time>
            </div>
          </li>
          <li class="recommand-card">
            <img class="recommand-img" src="../assets/images/week3-4/home-section5-4.png" alt="Kyuan">
            <div class="recommand-card-body">
            <div class="recommand-card-desc">
            <h4 class="recommand-subtitle">Kyuan</h4>
            <p class="recommand-text">服務很好，品質沒有任何問題，非常喜歡。</p>
          </div>
            <time class="recommand-time">2020/10/31</time>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="contact">
      <div class="container">
        <div class="contact-wrapper">
        <h2 class="contact-title">聯絡我們</h2>
        <p class="contact-desc">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form action="" class="contact-form">
          <ul>
            <li>
              <label for="name" class="contact-form-label">姓名</label>
              <input type="text" id="name" placeholder="陳小明" class="contact-form-input"/>
            </li>
            <li>
              <label for="phone" class="contact-form-label">聯絡電話</label>
              <input type="tel" id="phone" placeholder="0912-345-678" class="contact-form-input"/>
            </li>
            <li>
              <label for="email" class="contact-form-label">電子郵件</label>
              <input type="email" id="email" placeholder="example@email.com" class="contact-form-input"/>
            </li>
            <li>
              <label for="comment" class="contact-form-label" >意見反應</label>
              <textarea  id="comment" placeholder="請輸入您的意見" class="contact-form-input" rows="6"></textarea>
            </li>
            <li class="agree-item">
              <input type="checkbox" name="" id="agree"/>
              <label for="agree">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
            </li>
          </ul>
          <button type="submit" class="contact-form-btn">確認送出</button>
        </form>
      </div>
    </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
